// primary font
$primary_font: 'Helvetica, sans-serif';
$secondary_font: 'Arial, sans-serif';
$monospace_font: 'Courier, monospace';

// font-weight
$thin:100;
$light:300;
$regular:400;
$bold:700;
$black:900;

// Font size
$font-xs:12px;
$font-sm: 14px;
$primary-fs: 16px;
$font-md: 18px;
$font-lg: 20px;

// colors
$body_color: #ccc;
$white: #fff;
$black: #000;
$border_color: #303436;
