//----------------------------------*\
// Imports
//----------------------------------*/
@import 'variables';
@import 'fonts';

//----------------------------------*\
// Fonts & Typography
//----------------------------------*/


body {
  font-family: $primary_font;
  font-size: $primary-fs;
  font-weight: $regular;
}

//----------------------------------*\
// Colors
//----------------------------------*/

body {
  background-color: $body_color;
}
